.lane {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.lane:not(:last-child) {
    padding-bottom: 50px;
}

.no-results {
    padding: 10px;
    width: 100%;
    text-align: center;
    align-self: center;
}

.title {
    transform: rotate(270deg);
    width: 8%;
    text-align: center;
}

.list {
    min-height: 86px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    border-radius: 1rem;
    background-color: #C0C0C0;
}

.deleteable:hover {
    background-position: center;
    background-image: url("../../images/red-x.png");
}